<!DOCTYPE html>
<html lang="en" ng-app="apartmentApp">
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<title>Apartment Finder</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container main-container">
      <!--<div class="main">-->
	  <h1>Apartments</h1>
        <h2>Open Houses and Viewings</h2>
		<div ng-controller="ApartmentListController as apartmentList">
		  <span>{{apartmentList.remaining()}} of {{apartmentList.todos.length}} remaining</span>
		  [ <a href="" ng-click="apartmentList.archive()">archive</a> ]
		  <!--<ul class="unstyled">-->
			<div ng-repeat="apartment in apartmentList.apartments" class="row narrow-row">
			  <label class="checkbox">
				<input type="checkbox" ng-model="apartment.done">
				<p class="done-{{apartment.done}}">{{ apartment.text }} </p>
				<img ng-src="{{ apartment.photo }}">
				<p class="done-{{apartment.done}}">{{ apartment.date | date }}</p>
				<p class="price">{{ apartment.price }}</p>
				<div class="rating">
					<span class="likes">+</span>
					</div>
			  </label>
			</div>
		  <!--</ul>-->
		  <div class="form-group">
			  <form ng-submit="apartmentList.addApartment()">
				<input type="text" ng-model="apartmentList.apartmentText"  size="30" placeholder="add new apartment here">
				<input class="btn-info" type="submit" value="add">
			  </form>
		  </div>
		</div>
      <!--</div>--><!-- /.main -->
    </div><!-- /.container -->
    
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- Modules -->
	<script src="js/apartments.js"></script>
	
	<!-- Controllers -->
	<script src="js/controllers/ApartmentListController.js"></script>


 </body>
</html>