<h3>Add apartment:</h3>
<div class="col-sm-4">
    <form>
      <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Address</label>
          <div class="col-4">
            <input class="form-control" type="text" value="" id="example-text-input">
          </div>
      </div>
      <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Number of Bedrooms</label>
          <div class="col-4">
            <input class="form-control" type="number" value="" id="example-text-input">
          </div>
      </div>
      <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Monthly Rent</label>
          <div class="col-4">
            <input class="form-control" type="number" value="" id="example-text-input">
          </div>
      </div>
      <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Date Available</label>
          <div class="col-4">
            <input class="form-control" type="date" value="" id="example-text-input">
          </div>
      </div>
    </form>
</div>