<div class="row">
  <div class="col col-sm-8 apartment-search">
    <div class="input-group">
      <span class="input-group-addon "><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" class="form-control form-control-sm" placeholder="Search" ng-model=" searchApt">
    </div>
    <div class="row">
      <div class="col col-xs-4">
      <input type="text" class="form-control form-inline" placeholder="$min">
      </div>
      <div class="col col-xs-4">
        <input type="text" class="form-control form-inline" placeholder="$max">
      </div>
        <div class="col col-xs-4">
      <select class="form-control">
        <option>Studio+</option>
        <option>1 br+</option>
        <option>2 br+</option>
        <option>3 br+</option>
        <option>4 br+</option>
      </select>
        </div>
    </div>
  </div><!--col col-sm-8-->
  <div class="col col-sm-4 apartment-search">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" ng-model="filterPets">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Pets allowed</span>
        </label>

        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Laundry</span>
        </label>

        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Dishwasher</span>
        </label>
    </div><!--col col-sm-4-->
</div><!-- row -->

<div class="row">
    <h3>Apartments available in your area:</h3>
    <div ng-repeat="apartment in apartments | filter:searchApt" class="col-sm-4 apartment">
        <div class="aptImg">    
            <i class="material-icons heart">favorite</i>
            <p class="price">{{ apartment.price | currency:'$':0 }} / month</p>
            <img ng-src="{{ apartment.photo }}">
        </div>
        <h4>{{ apartment.address }}</h4>
        <span>
              <p><ng-pluralize count="apartment.bedrooms"
              when="{'0': 'studio', '1': '1 bedroom', 'other': '{} bedrooms'
                    }">
            </ng-pluralize></p>
        </span>
        <span class = "text-muted" ng-if="apartment.pets"><i class="material-icons md-18">pets</i></span>
        <span class = "text-muted" ng-if="apartment.laundry"><i class="material-icons md-18">local_laundry_service</i></span>
        <span class = "text-muted" ng-if="apartment.dishwasher"><i class="material-icons md-18">restaurant</i></span>
        <span>
            <p>Available {{ apartment.date | date }}</p>
            <!--<p>{{ apartment.price | currency }} / month</p>-->
        </span>
        <div class="btn-group btn-group-s" role="group" aria-label="...">
          <a ng-href="/#!/edit-apartment/{{apartment._id}}" class="btn btn-default">EDIT</a>
          <button type="button" class="btn btn-default" ng-click="deleteApartment(apartment._id)">DELETE</button>
        </div>
    </div>
</div>