<div class="row">
    <form>
        <div class="input-group">
            <div class="input-group-addon "><i class="glyphicon glyphicon-search"></i></div>
          <input type="text" class="form-control" placeholder="Search" ng-model="searchApt">
        </div>
    </form>
</div>
<div class="row">
    <h3>Apartments available in your area:</h3>
    <div ng-repeat="apartment in apartments | filter:searchApt" class="col-sm-4 apartment">
        <div class="aptImg">    
            <i class="material-icons heart">favorite</i>
            <p class="price">{{ apartment.price | currency:'$':0 }} / month</p>
            <img ng-src="{{ apartment.photo }}">
        </div>
        <h4>{{ apartment.address }}</h4>
        <span class = "text-muted" ng-if="apartment.pets"><i class="material-icons md-18">pets</i></span>
        <span class = "text-muted" ng-if="apartment.laundry"><i class="material-icons md-18">local_laundry_service</i></span>
        <span class = "text-muted" ng-if="apartment.dishwasher"><i class="material-icons md-18">restaurant</i></span>
        <span>
              <p><ng-pluralize count="apartment.bedrooms"
              when="{'0': 'studio', '1': '1 bedroom', 'other': '{} bedrooms'
                    }">
            </ng-pluralize></p>
        </span>
        <span>
            <p>{{ apartment.date | date }}</p>
            <!--<p>{{ apartment.price | currency }} / month</p>-->
        </span>
        <div class="btn-group btn-group-s" role="group" aria-label="...">
          <a ng-href="/#!/edit-apartment/{{apartment._id}}" class="btn btn-default">EDIT</a>
          <button type="button" class="btn btn-default" ng-click="deleteApartment(apartment._id)">DELETE</button>
        </div>
    </div>
</div>