<div class="row">
    <div class="col col-md-12">
        <h3>{{apartment.address}}</h3>
        <div class="aptImg">    
            <a ng-click="favorite($index)"><i class="material-icons heart" style="color:{{favorites[$index]}};">favorite</i></a>
            <img ng-src="{{ apartment.photo }}" class="detail-img">
        </div>
        <h4>{{ apartment.price | currency:'$':0 }} / month</h4>
        <span>
              <p><ng-pluralize count="apartment.bedrooms"
              when="{'0': 'studio', '1': '1 bedroom', 'other': '{} bedrooms'
                    }">
            </ng-pluralize> |
            Available {{ apartment.date | date }}</p>
        </span>
        <span class = "text-muted" ng-if="apartment.pets">
            <p><i class="material-icons md-18">pets</i>Pets allowed</p>
        </span>
        
        <span class = "text-muted" ng-if="apartment.laundry">
            <p><i class="material-icons md-18">local_laundry_service</i>Laundry</p>
        </span>
        
        <span class = "text-muted" ng-if="apartment.dishwasher">
            <p><i class="material-icons md-18">restaurant</i>Dishwasher</p>
        </span>
        
        <span>
            
        </span>
        
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>